streamlit
python-dotenv
PyPDF2
langchain
langchain-community
langchain-core
langsmith
langchain-huggingface
sentence-transformers
faiss-cpu
huggingface-hub
transformers
torch
numpy
tiktoken
